<a href="https://colab.research.google.com/github/19PA1A0516/Ensemble-methods/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [16]:
ff=pd.read_csv("diabetes.csv")
ff

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

//ff.isna().any() is afunction that returns a boolen value for each column//

In [17]:
ff.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [18]:
ff.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

//pregnancies,Glucose ,Bloodpressure ,Skinthickness ,Insulin ,BMI ,DiabetespedigreeFunction Age are attributes//

In [0]:
x = ff[["Pregnancies", "Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI", "DiabetesPedigreeFunction",  "Age"]]
y = ff[["Outcome"]]

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

//Random forest are ensemble learning method and it is used to rank the importance of variables in a regression or classification problem//

In [0]:
rdf = RandomForestRegressor(n_estimators=50)

In [22]:
model = rdf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [0]:
y_pred1 = model.predict(x_test)

In [24]:
print("Accuracy :",metrics.mean_absolute_error(y_test,y_pred1))

Accuracy : 0.30961038961038967

//Adaboost is best used to boost the performance of decision trees on binary classification problems//

In [0]:
abc=AdaBoostClassifier()

In [26]:
model2=abc.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
y_pred2=model2.predict(x_test)

In [28]:
print("Accuracy :",metrics.mean_absolute_error(y_test,y_pred2))

Accuracy : 0.2662337662337662

A decision tree that breaks down a datset into smaller subsets and it forces the all possible outcomes.

In [0]:
dtc=DecisionTreeClassifier()

In [0]:
model3=dtc.fit(x_train,y_train)

In [0]:
y_pred3=model3.predict(x_test)

In [32]:
print("Accuracy :",metrics.mean_absolute_error(y_test,y_pred3))

Accuracy : 0.24675324675324675

//Random forest classifier performing better beacuase its accuarcy is more//